<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis iure laudantium dolores adipisci consectetur assumenda quod, deserunt illum pariatur soluta.</p>
    </div>
</section>