<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eos nemo ipsa quibusdam quis. Eum?
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quam tenetur a ipsam voluptatem sed repudiandae id in nostrum? Debitis.</p>
    <a class="btn btn-primary" href="https://www.google.es">Google</a>
</div>